In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\Administrator\Desktop\Datasets\covid19_patient_symptoms_diagnosis.csv")
df.head(20)

,patient_id,age,gender,fever,dry_cough,sore_throat,fatigue,headache,shortness_of_breath,loss_of_smell,loss_of_taste,oxygen_level,body_temperature,comorbidity,travel_history,contact_with_patient,chest_pain,covid_result
0,1,52,Male,1,0,1,1,0,0,0,0,98,37.1,Diabetes,0,0,0,0
1,2,15,Male,0,0,0,1,1,0,0,0,85,37.7,Diabetes,0,1,0,0
2,3,72,Male,1,0,1,0,0,1,0,1,99,36.8,NaN,0,0,0,0
3,4,61,Female,0,0,1,1,1,0,1,1,86,36.0,NaN,1,0,0,0
4,5,21,Female,1,1,0,0,0,1,0,1,90,36.4,NaN,1,1,1,1
5,6,83,Female,0,1,0,1,1,0,0,0,94,39.8,NaN,0,1,0,0
6,7,87,Male,1,1,0,1,0,0,0,0,98,36.2,Diabetes,1,0,0,0
7,8,75,Female,0,1,1,0,0,0,1,0,89,38.0,NaN,1,1,0,1
8,9,75,Female,1,0,1,0,0,0,0,1,93,40.9,Diabetes,0,0,0,0
9,10,88,Female,0,1,0,1,1,1,0,1,97,40.0,NaN,1,0,1,0
10,11,24,Male,1,1,0,1,0,0,1,0,91,39.8,NaN,0,0,0,1
11,12,3,Female,0,0,0,1,0,1,0,0,97,37.4,NaN,0,0,1,0
12,13,22,Male,1,1,1,1,0,0,0,0,89,39.2,NaN,1,0,0,1
13,14,53,Male,1,0,0,1,0,1,0,0,99,38.5,Asthma,0,0,0,0
14,15,2,Female,1,1,0,0,0,1,1,1,97,39.1,Diabetes,0,0,0,1
15,16,88,Male,1,1,1,1,0,0,0,0,96,38.2,NaN,1,1,1,1
16,17,30,Female,1,0,0,1,1,0,0,0,96,38.7,Diabetes,0,1,0,0
17,18,38,Male,0,1,0,1,1,1,1,1,93,40.9,NaN,0,0,0,1
18,19,2,Female,0,1,0,0,1,0,0,0,98,37.6,NaN,0,0,0,0
19,20,64,Female,1,0,0,1,1,1,1,0,85,37.1,Asthma,1,0,1,1

In [3]:
df.columns = (
    df.columns.str.replace("[^0-9a-zA-Z_]+", "_", regex=True)
              .str.strip("_")
)
df.columns

Index(['patient_id', 'age', 'gender', 'fever', 'dry_cough', 'sore_throat',
       'fatigue', 'headache', 'shortness_of_breath', 'loss_of_smell',
       'loss_of_taste', 'oxygen_level', 'body_temperature', 'comorbidity',
       'travel_history', 'contact_with_patient', 'chest_pain', 'covid_result'],
      dtype='object')

In [5]:
df.describe()

,patient_id,age,fever,dry_cough,sore_throat,fatigue,headache,shortness_of_breath,loss_of_smell,loss_of_taste,oxygen_level,body_temperature,travel_history,contact_with_patient,chest_pain,covid_result
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000
mean,2500.500000,44.380600,0.567400,0.493200,0.416000,0.589800,0.444800,0.348400,0.299400,0.292800,91.934200,38.500480,0.250600,0.400000,0.306000,0.52000
std,1443.520003,25.551632,0.495486,0.500004,0.492943,0.491919,0.496993,0.476511,0.458041,0.455093,4.300275,1.431892,0.433402,0.489947,0.460876,0.49965
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85.000000,36.000000,0.000000,0.000000,0.000000,0.00000
25%,1250.750000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,88.000000,37.300000,0.000000,0.000000,0.000000,0.00000
50%,2500.500000,44.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,92.000000,38.500000,0.000000,0.000000,0.000000,1.00000
75%,3750.250000,66.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,96.000000,39.700000,1.000000,1.000000,1.000000,1.00000
max,5000.000000,89.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,99.000000,41.000000,1.000000,1.000000,1.000000,1.00000

In [6]:
df.isnull().sum()

patient_id                 0
age                        0
gender                     0
fever                      0
dry_cough                  0
sore_throat                0
fatigue                    0
headache                   0
shortness_of_breath        0
loss_of_smell              0
loss_of_taste              0
oxygen_level               0
body_temperature           0
comorbidity             2725
travel_history             0
contact_with_patient       0
chest_pain                 0
covid_result               0
dtype: int64

In [7]:
df.fillna = 0

In [8]:
df.isnull().sum()

patient_id                 0
age                        0
gender                     0
fever                      0
dry_cough                  0
sore_throat                0
fatigue                    0
headache                   0
shortness_of_breath        0
loss_of_smell              0
loss_of_taste              0
oxygen_level               0
body_temperature           0
comorbidity             2725
travel_history             0
contact_with_patient       0
chest_pain                 0
covid_result               0
dtype: int64

In [10]:
df.sort_values(by="age", ascending=False)

,patient_id,age,gender,fever,dry_cough,sore_throat,fatigue,headache,shortness_of_breath,loss_of_smell,loss_of_taste,oxygen_level,body_temperature,comorbidity,travel_history,contact_with_patient,chest_pain,covid_result
4995,4996,89,Female,0,1,1,0,0,0,0,1,94,37.0,NaN,0,1,0,0
3939,3940,89,Female,0,1,0,0,0,0,1,1,85,40.6,NaN,0,0,0,1
1571,1572,89,Female,1,1,1,0,0,0,0,0,91,40.0,Diabetes,0,0,0,1
426,427,89,Male,0,1,1,1,1,0,0,0,92,36.8,NaN,0,0,0,0
1514,1515,89,Female,1,1,0,0,1,1,1,0,89,39.3,Diabetes,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3154,3155,1,Male,1,0,1,1,1,0,0,0,88,37.9,Heart Disease,0,0,0,0
610,611,1,Male,1,0,0,0,1,0,1,1,90,39.2,Diabetes,0,1,0,1
4418,4419,1,Female,1,0,0,1,0,0,1,1,89,40.0,NaN,0,0,1,1
255,256,1,Female,0,0,0,0,1,0,0,1,89,40.6,NaN,0,1,1,0
243,244,1,Female,0,1,1,0,1,0,0,0,87,39.2,NaN,0,1,0,1

In [13]:
df1 = df.loc[df['covid_result'] >= 1]
df1

,patient_id,age,gender,fever,dry_cough,sore_throat,fatigue,headache,shortness_of_breath,loss_of_smell,loss_of_taste,oxygen_level,body_temperature,comorbidity,travel_history,contact_with_patient,chest_pain,covid_result
4,5,21,Female,1,1,0,0,0,1,0,1,90,36.4,NaN,1,1,1,1
7,8,75,Female,0,1,1,0,0,0,1,0,89,38.0,NaN,1,1,0,1
10,11,24,Male,1,1,0,1,0,0,1,0,91,39.8,NaN,0,0,0,1
12,13,22,Male,1,1,1,1,0,0,0,0,89,39.2,NaN,1,0,0,1
14,15,2,Female,1,1,0,0,0,1,1,1,97,39.1,Diabetes,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4989,4990,18,Male,1,0,1,1,1,1,0,1,87,37.4,NaN,0,0,0,1
4991,4992,55,Male,0,1,1,0,0,0,0,0,85,40.1,NaN,0,1,0,1
4996,4997,62,Male,1,1,0,0,0,0,0,0,86,40.0,NaN,0,0,0,1
4997,4998,13,Female,0,1,1,1,0,1,0,0,89,41.0,Diabetes,1,0,0,1
4999,5000,6,Male,0,1,0,0,1,1,1,0,96,40.6,Diabetes,0,0,0,1

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2600 entries, 4 to 4999
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   patient_id            2600 non-null   int64
 1   age                   2600 non-null   int64
 2   gender                2600 non-null   object
 3   fever                 2600 non-null   int64
 4   dry_cough             2600 non-null   int64
 5   sore_throat           2600 non-null   int64
 6   fatigue               2600 non-null   int64
 7   headache              2600 non-null   int64
 8   shortness_of_breath   2600 non-null   int64
 9   loss_of_smell         2600 non-null   int64
 10  loss_of_taste         2600 non-null   int64
 11  oxygen_level          2600 non-null   int64
 12  body_temperature      2600 non-null   float64
 13  comorbidity           1157 non-null   object
 14  travel_history        2600 non-null   int64
 15  contact_with_patient  2600 non-null   int64
 16  chest_pain            2600 non-null   int64
 17  covid_result          2600 non-null   int64
dtypes: float64(1), int64(15), object(2)
memory usage: 385.9+ KB

In [17]:
df2 = df.loc[df["body_temperature"] > 40]
df2

,patient_id,age,gender,fever,dry_cough,sore_throat,fatigue,headache,shortness_of_breath,loss_of_smell,loss_of_taste,oxygen_level,body_temperature,comorbidity,travel_history,contact_with_patient,chest_pain,covid_result
8,9,75,Female,1,0,1,0,0,0,0,1,93,40.9,Diabetes,0,0,0,0
17,18,38,Male,0,1,0,1,1,1,1,1,93,40.9,NaN,0,0,0,1
28,29,59,Female,1,1,1,1,1,1,0,0,96,40.9,Heart Disease,0,1,0,1
32,33,15,Male,0,0,0,0,0,0,0,0,86,40.4,NaN,0,1,1,0
34,35,62,Female,1,1,1,1,0,1,0,0,85,40.3,Diabetes,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4973,4974,9,Female,1,1,0,0,1,1,0,0,98,40.3,NaN,0,1,0,1
4974,4975,40,Female,1,0,1,0,0,0,0,0,86,40.5,NaN,0,0,0,0
4991,4992,55,Male,0,1,1,0,0,0,0,0,85,40.1,NaN,0,1,0,1
4997,4998,13,Female,0,1,1,1,0,1,0,0,89,41.0,Diabetes,1,0,0,1
4999,5000,6,Male,0,1,0,0,1,1,1,0,96,40.6,Diabetes,0,0,0,1